{% extends 'books/base.html' %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<style>
    /* CSS styles can be added here */
    div {
        align:center; /* This should be 'text-align' for centering */
    }

    .container-form {
        border: 1px solid;
    }
</style>

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 align="center">Forget Password Page!!!</h1>

        {% if messages %}
        {{ message.tags }}
        <!-- Display info messages -->
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <label for="inputPassword5" class="form-label">New Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" name="new_password" required>
        
        <label for="inputPassword5" class="form-label">Confirm Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" name="confirm_password" required>
        
        <input type='hidden' name="user_id" value="{{ user_id }}">
        
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
</div>
{% endblock content %}
