{% extends 'books/base.html' %}
{% block title %}login page{% endblock title %}
{% block content %}
<style>
    div {
        align:center;
    }

    
    .container-form {        
        border: 1px solid;

    }
   
</style>

<div class="container mt-5">    
    
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <h1 align="center"> forget_password Page !!!!</h1>
        
        {% if messages %}
        {{ message.tags }}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
          </div>
         
        {% endif %}       
        
        <br>
        
        <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="username" required>
        </div>   
        
       
        <button type="submit" class="btn btn-outline-secondary" >Submit</button>
    </form>
  
</div>


{% endblock content %}